<div class="jumbotron">
  <h1>Checkr Oauth Demo</h1>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <p class="lead">Connect your account with Checkr.</p>

    <p>In order to run background-checks on your applicants automatically.</p>

    <p>
      <a class="btn btn-lg btn-primary"
        href="<%= ENV['CHECKR_AUTHORIZE_URL'] %>/<%= ENV['CHECKR_CLIENT_ID'] %>?redirect_uri=<%= ENV['REDIRECT_URL'] + '/oauth_callback' %>"
        role="button">
        Connect with Checkr
      </a>
    </p>

    <a class="btn btn-danger" href="/deauthorize">Deauthorize</a>
  </div>
</div>

<br>
<hr>

<% if @candidates %>
  <div class='row'>
    <div class="col-md-12">
      <a href="/new_candidate" class="btn btn-success pull-right">Create Test Candidate</a>

      <h3>Candidates</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <% @headers.each do |header| %>
              <td>
                <%= header %>
              </td>
            <% end %>
          </tr>
        </thead>

        <% @candidates.each do |candidate| %>
          <tr>
            <% @headers.each do |col| %>
              <td>
                <%= candidate[col] %>
              </td>
            <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <br>
  <hr>
<% end %>
